{% if form.errors %}
  {% for error in form.non_field_errors %}
    <div class="alert alert-danger mb-1" role="alert">
      {{ error }}
    </div>
  {% endfor %}
{% endif %}
<form method="POST" action="">
  {% csrf_token %}
  {% for field in form %}
    <div class="mb-4">
      {% if field.errors %}
        <div class="alert alert-danger mb-1" role="alert">
          {{ field.errors }}
        </div>
      {% endif %}
      <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
      {{ field }}
      {% if field.help_text %}
        <span class="help text-muted">{{ field.help_text|safe }}</span>
      {% endif %}
    </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary mb-2">Отправить</button>
</form>